@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div><img src="/images/c7c36139-a432-4186-bf3e-0a348532de2f.png" /></div>
</div>
<blockquote>
    <p>"You miss 100 percent of the burgers you don't eat. I'm hungry."</p>
    <footer>—Whit Stroup, <cite>TrueCoders</cite></footer>
</blockquote>
